<span class="preheader" style="color: #999; font-size: 12px; line-height: 1.5; display: block; height: auto; max-height: none; max-width: none; opacity: 1; overflow: visible; mso-hide: none; visibility: visible; width: auto;">
  {{preheader}}
</span>